In [3]:
import pandas as pd

In [4]:
students_df = pd.read_csv('../data/StudentsPerformance.csv')

In [3]:
students_df.index

RangeIndex(start=0, stop=1000, step=1)

In [4]:
type(students_df.index)

pandas.core.indexes.range.RangeIndex

In [7]:
students_df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [9]:
students_df.size

8000

In [10]:
students_df.shape

(1000, 8)

In [6]:
students_df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [7]:
students_df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [11]:
students_df.iloc[:, 2].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [12]:
students_df.iloc[:, 2].size

1000