In [1]:
import numpy as np
import pandas as pd

In [4]:
my_stat = pd.read_csv('../data/my_stat.csv')

In [5]:
my_stat.head()

   V1    V2 V3   V4
0   2  13.0  B  1.0
1  -1   7.0  B  1.0
2   0  11.0  A  0.0
3   2  11.0  A  2.0
4   0  10.0  B -1.0

In [6]:
my_stat.size

2000

In [7]:
my_stat.shape

(500, 4)

In [13]:
subset_1 = my_stat.iloc[0:10, [0,2]]

In [14]:
subset_1

   V1 V3
0   2  B
1  -1  B
2   0  A
3   2  A
4   0  B
5   2  A
6   0  A
7   1  A
8   0  B
9  -1  A

In [16]:
subset_2 = my_stat.iloc[:, [1,3]]

In [18]:
subset_2 = subset_2.drop([0, 4])

In [19]:
subset_2.head()

     V2   V4
1   7.0  1.0
2  11.0  0.0
3  11.0  2.0
5  11.0  0.0
6   9.0  2.0

In [20]:
subset_2.shape

(498, 2)