In [1]:
import numpy as np
import pandas as pd

In [62]:
data = {'type' : ["A", "A", "B", "B"], "value" : [10, 14, 12, 23]}

In [63]:
data

{'type': ['A', 'A', 'B', 'B'], 'value': [10, 14, 12, 23]}

In [70]:
my_data = pd.DataFrame(data, columns=['type', 'value'])

In [71]:
my_data.shape

(4, 2)

In [72]:
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

In [68]:
mydata.dtypes

0    int64
dtype: object

In [36]:
pd.__version__

'1.0.3'