In [1]:
import numpy as np
import pandas as pd

In [3]:
my_stat = pd.read_csv('../data/my_stat_1.csv')

In [5]:
my_stat.head()

   session_value  time group  n_users
0            0.0    12     B        9
1            NaN    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9

##### Решение

In [6]:
my_stat.fillna(0, inplace=True)

In [7]:
my_stat

   session_value  time group  n_users
0            0.0    12     B        9
1            0.0    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9
5            3.0     8     A        8
6            0.0    11     B        5
7            0.0     9     A        4
8            0.0     8     B      -11
9            0.0     9     A      -20

In [16]:
med = my_stat.n_users[my_stat.n_users > 0].median()

In [17]:
med

5.0

In [11]:
my_query

   session_value  time group  n_users
1            0.0    11     A       -1
8            0.0     8     B      -11
9            0.0     9     A      -20

##### Решение

In [36]:
my_stat.loc[my_stat['n_users'] < 0, 'n_users'] = my_stat.n_users[my_stat.n_users >= 0].median()

In [37]:
my_stat.n_users[my_stat.n_users >= 0].median()

5.0

In [38]:
my_stat

   session_value  time group  n_users
0            0.0  12.0     B      9.0
1            0.0  11.0     A      5.0
2            1.0   8.0     A      1.0
3            2.0   9.0     B      3.0
4            2.0  10.0     B      9.0
5            3.0   8.0     A      8.0
6            0.0  11.0     B      5.0
7            0.0   9.0     A      4.0
8            0.0   8.0     B      5.0
9            0.0   9.0     A      5.0