In [1]:
import numpy as np
import pandas as pd

In [2]:
my_stat = pd.read_csv('../data/my_stat.csv')

In [3]:
my_stat.head()

   V1    V2 V3   V4
0   2  13.0  B  1.0
1  -1   7.0  B  1.0
2   0  11.0  A  0.0
3   2  11.0  A  2.0
4   0  10.0  B -1.0

In [6]:
my_stat = my_stat.rename(columns={"V1" : "session_value", "V2" : "group", "V3" : "time", "V4" : "n_users"})

In [7]:
my_stat

     session_value  group time  n_users
0                2   13.0    B      1.0
1               -1    7.0    B      1.0
2                0   11.0    A      0.0
3                2   11.0    A      2.0
4                0   10.0    B     -1.0
..             ...    ...  ...      ...
495              1    8.0    A     -1.0
496              3    8.0    A      1.0
497             -1   11.0    B      2.0
498              1   11.0    A      2.0
499              0    8.0    B      1.0

[500 rows x 4 columns]

In [8]:
my_stat.rename(columns={'V1':'session_value','V2':'group','V3':'time','V4':'n_users'},inplace=True)

In [9]:
my_stat.head()

   session_value  group time  n_users
0              2   13.0    B      1.0
1             -1    7.0    B      1.0
2              0   11.0    A      0.0
3              2   11.0    A      2.0
4              0   10.0    B     -1.0