In [1]:
import numpy as np
import pandas as pd

In [5]:
my_stat = pd.read_csv('../data/my_stat_1.csv')
my_stat.head()

   session_value  time group  n_users
0            0.0    12     B        9
1            NaN    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9

In [6]:
my_stat.shape

(10, 4)

In [12]:
mean_session_value_data = my_stat.groupby('group', as_index=False).agg({'session_value' : 'mean'})

In [14]:
mean_session_value_data.rename(columns={"session_value" : "mean_session_value"}, inplace=True)

In [15]:
mean_session_value_data

  group  mean_session_value
0     A                 1.0
1     B                 1.0