In [1]:
import pandas as pd
import numpy as np

In [2]:
dota2_df = pd.read_csv('../data/accountancy.csv')

In [3]:
dota2_df.head()

   Unnamed: 0 Executor Type  Salary
0           0     Pupa    D      63
1           1     Pupa    A     158
2           2     Pupa    D     194
3           3     Pupa    E     109
4           4    Loopa    E     184

In [11]:
dota2_df.groupby(['Executor', 'Type'])['Salary'].mean()

Executor  Type
Loopa     A        58.000000
          B       145.166667
          C       154.333333
          D       137.714286
          E       164.000000
          F       238.000000
Pupa      A       160.833333
          B        77.000000
          C        74.500000
          D       146.500000
          E       131.200000
          F       136.250000
Name: Salary, dtype: float64