In [1]:
import pandas as pd
import numpy as np

In [2]:
concentrations = pd.read_csv('../data/algae.csv')

In [4]:
grouped_conc = concentrations.groupby('group')

In [8]:
grouped_conc.agg(np.ptp).round(2)

       sucrose  alanin  citrate  glucose  oleic_acid
group
brown     5.19    6.29     5.35     3.74         6.1
green     3.26    5.23     3.86     1.03         1.4
red       0.00    0.00     0.00     0.00         0.0

In [11]:
grouped_conc[['species']].agg('count').round(2)

       species
group
brown        6
green        3
red          1

In [13]:
grouped_conc[['citrate']].agg('var').round(2)

       citrate
group
brown     5.47
green     3.95
red        NaN