In [1]:
import pandas as pd
import numpy as np

In [2]:
concentrations = pd.read_csv('../data/algae.csv')

In [3]:
concentrations.head()

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886

In [7]:
concentrations.groupby('genus').agg({'alanin' : ['min', 'mean', 'max']}).round(2)

            alanin
               min  mean   max
genus
Ascophyllum   0.88  0.88  0.88
Cladophora    1.65  4.00  6.88
Fucus         0.35  3.57  6.64
Palmaria      3.18  3.18  3.18
Saccharina    1.26  3.52  5.79